* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', arial, sans-serif;
    height:5000px ;
}
/*start header*/
.header {
    background: linear-gradient(rgba(0,0,20,0.4)) ,url('../../assets/img/header-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
}
.header-box {
    width: 75%;
    margin: 0px auto;
    padding: 150px 0;
}
.header-box p {
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 40px;
}
.header-buttons {
    margin: 50px 0;
}
.header-button1 {
    font-size: 20px;
    background: #1a57a5;
    border: solid #1a57a5 2px;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    margin: 10px;
}
.header-button1:hover {
    background: #103463;
    border: solid white 2px;
}
.header-button2 {
    font-size: 20px;
    border: solid white 2px;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    margin: 10px;
}
.header-button2:hover {
    background: rgba(256, 225, 225, 0.4);
}
/*end header*/

/*start services*/
.services {
    padding: 150px 0;
}
.services-box {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.service {
    border-radius: 20px;
    width: 28%;
    padding: 20px;
    /*display: flex;*/
    /*flex-direction: column;*/
    transition-duration: 0.4s;
}
.service:hover {
    box-shadow: 0 22px 48px -12px rgba(16, 24, 40, .20);
    transform: translateY(-10px);
}
.service>i {
    color: #1a57a5;
    font-size: 70px;
    margin: 10px 0;
}
.service>h2 {
    color: #1a57a5;
    font-size: 24px;
    margin: 40px 0;
}
.service>p {
    width: 95%;
    color: #565c65;
    line-height: 1.7;

}
.service-button {
    margin: 40px 0;
}
.more-info {
    color: #1a57a5;
}
.more-info>a {
    text-decoration: none;
    color: #1a57a5;
}
.more-info>i {
    font-size: 11px;
    transition-duration: 0.4s;
}
.more-info:hover i{
    margin: 0 10px;
}
/*end services*/

/*start features*/
.features {
    padding: 100px 0;
    background: #eef4fb;
}
.features-box {
    width: 85%;
    margin: 0 auto;
}
.sec-top {

    display: flex;
    flex-direction: column;
    align-items: center;

}
.sec-top-title {
    font-size: 50px;
    width: 65%;
    display: block;
    text-align: center;
}
.sec-top-line {
    width: 60px;
    height: 3px;
    display: block;
    margin: 35px 0;
    background: #1a57a5;
    border-radius: 10px;
}
.sec-top-subtitle {
    display: block;
    text-align: center;
    width: 70%;
    color: #565c65;
    line-height: 1.7;
    margin-bottom: 50px;
}

.features-items-box {
    width: 90%;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}

.features-item-img {
    width: 65%;
}
.features-item-img img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, .15);
    transition-duration: 0.4s;
}
.features-item-img img:hover {
    box-shadow: 0 22px 48px -12px rgba(16, 24, 40, .20);
    transform: translateY(-5px);
}

.features-item-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
}
.features-item-title {
    color: #1a57a5;
    font-size: 35px;
    margin: 35px 0;
}
.features-item-subtitle {
    color: #565c65;
    margin-bottom: 30px;
    line-height: 1.7;
}
.item-pros {
    margin: 7px 0;
    color: #565c65;
    display: flex;
    align-self: flex-start;
}
.item-pros i {
    color: #1a57a5;
    padding-right: 10px;
}
/*end features*/

/*start plans*/
.plans {
    padding: 100px 0;
}
.plans-box {
    width: 85%;
    margin: 0 auto;
}
.plans-items{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.plan-item {
    border: 1px solid #e7ebf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 28%;
    padding: 20px;
    transition-duration: 0.4s;
}
.plan-item:hover {
    box-shadow: 0 22px 48px -12px rgba(16, 24, 40, .20);
    transform: translateY(-5px);
}
.plan-item.suggested {
    border: 2px solid #1a57a5;
    box-shadow: 0 22px 48px -12px rgba(16, 24, 40, .20);
    transform: translateY(-5px);
}
.plan-item.suggested:hover {
    transform: translateY(-10px);
}
.plan-name {
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
}
.plan-price {
    color: #1a57a5;
    font-size: 60px;
    text-align: center;
    margin: 15px 0;
}
.plan-features {
    color: #bdbdbd;
    margin: 30px 0;
    text-align: center;
}
.button {
    background: black;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: 15px 50px;
    margin: 30px 0;
    transition-duration: 0.4s;
}
.button:hover {
    background: #262626;
    transform: translateY(-2px);
}
.button.blue {
    background: #1a57a5;
    box-shadow: 0 14px 30px -10px rgba(26, 87, 165, .45);
}
.button.blue:hover {
    background: #103463;
    transform: translateY(-2px);
}
/*end plans*/